body{
  background: #191919;
  font-family: 'Work Sans', sans-serif;
  background-image: url("../resources/background.gif");
  background-size: cover;
}

.top_bar{
  position: absolute;
  background: white;
  display: flex;
  width: auto;
  right: 0;
  left: 0;
  top: 0;
  height: 150px;
}

.top_bar_image{
  width: 15%;
  text-align: center;
}

.top_bar_image img{
  margin-top: 30px;
  height: 75px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_piece{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_piece h2{
  position: relative;
  bottom: 0.6em;
  font-size: 40px;
}

.title_piece h3{
  position: relative;
  bottom: -0.5em;
  left: -5em;
  font-size: 25px;
}

.top_bar_right{
  position: absolute;
  right: 2em;
  top: 1em;
}

.top_bar_right_top{
  display: flex;
  text-align: center;
  height: 60px;
}

.top_bar_button_links{
  display: flex;
}

.top_bar_button_link_container{
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.top_bar_button_link{
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 100ms;
}

.top_bar_button_link:hover{
  padding-left: 10px;
}

.arrow_link{
  padding-right: 10px;
  font-size: 12px;
  color: transparent;
  transition-duration: 200ms;
}

.arrow_link_show{
  color: #9c9e9c;
}

.top_bar_button_link a{
  text-decoration: none;
  font-size: 13px;
  color: #9c9e9c;
}

.top_bar_buttons{
  display: flex;
}

.top_bar_button{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_bar_button input{
  font-family: 'Work Sans', sans-serif;
  border-radius: 50px;
  height: 35px;
  width: 110px;
  background: none;
  decoration: none;
  border: none;
  font-weight: bold;
  font-size: 12px;
}

.signup{
  display: flex;
  border-radius: 5px;
  height: 35px;
  width: 110px;
  background: #46c932;
  color: white;
  border: none;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-duration: 100ms;
  box-shadow: 0px 0px 30px 1px #babab8;
}

.signup:hover{
  background: #3aaa29;
  padding-left: 10px;
}

.signup input{
  outline: none;
  color: white;
}

.signup input:hover{
  cursor: pointer;
}

.signin{
  display: flex;
  border-radius: 5px;
  height: 35px;
  width: 110px;
  background: white;
  border: 2px solid #46c932;
  justify-content: center;
  align-items: center;
  transition-duration: 100ms;
}

.signin:hover{
  padding-left: 10px;
}

.signin input{
  outline: none;
  color: #46c932;
}

.signin input:hover{
  cursor: pointer;
}

.arrow_btn{
  font-weight: bold;
  position: relative;
  font-size: 12px;
  left: 0.5em;
  color: transparent;
  transition-duration: 300ms;
  width: 0px;
}

.signup_arrow_hide{
  color: white;
}

.signin_arrow_hide{
  color: #46c932;
}

.top_bar_right_bottom{
  display: flex;
  height: 60px;
}

.top_bar_links{
  display: flex;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 1.5em;
}

.top_bar_link{
  width: 100px;
  justify-content: center;
  align-items: center;
}

.bottom_bar{
  width: 0;
  height: 2px;
  background: #46c932;
  transition-duration: 200ms;
  position: relative;
  top: 0.7em;
}

.bottom_bar_show{
  width: 100px;
}

.top_bar_link a{
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #161616;
}

.content{
  display: flex;
  margin-top: 150px;
}

.content_left{
  width: 35%;
}

.content_left img{
  position: relative;
  height: 500px;
  transition-duration: 1s;
  transition-timing-function: linear;
  left: 10%;
}

.img_loaded{
  transform: scale(0.8);
}

.content_center{
  width: 30%;
}

.welcome_text{
  text-align: justify;
  padding: 25px;
}

.welcome_text h2{
  margin-top: 50px;
  color: white;
  font-size: 30px;
}

.welcome_text p{
  margin-top: 40px;
  color: white;
}

.content_right{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome{
  width: 100%;
  margin: 30px;
  border-radius: 10px;
  background: white;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  padding: 25px;
  transition-duration: 100ms;
}

.welcome_element{
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome h2{
  font-size: 34px;
}

.welcome h3{
  margin-top: 20px;
  margin-bottom: 20px;
}

.welcome img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.txtb{
  width: 300px;
  height: 45px;
  position: relative;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
}

.txtb input{
  outline: none;
  border: none;
  width: 275px;
  height: 45px;
  font-size: 13px;
  background: none;
  font-family: 'Work Sans', sans-serif;
  position: relative;
}

.text{
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 300px;
  height: 45px;
  font-size: 13px;
  background: none;
  font-family: 'Work Sans', sans-serif;
  position: relative;
  transition-property: all;
  transition-duration: 160ms;
}

.txtbselected{
  border: 2px solid #46c932;
  border-radius: 4px;
  width: 300px;
  height: 45px;
  font-size: 13px;
  background: none;
  font-family: 'Work Sans', sans-serif;
  position: relative;
}

.placeholder{
  position: absolute;
  padding-top: 4px;
  font-size: 14px;
  color: #8a8b8c;
  margin: 10px;
  transition-property: all;
  transition-duration: 160ms;
}

.transform{
  background: white;
  font-weight: bold;
  color: #46c932;
  font-size: 10px;
  margin: -10px;
  padding-left: 7px;
  padding-right: 7px;
}

.active{
  padding: 10px;
  margin-left: 17px;
  font-size: 14px;
  color: #8a8b8c;
  top: -25px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.error{
  position: relative;
  text-align: left;
  font-size: 11px;
  color: red;
  transition-duration: 100ms;
}

.login_button{
  position: relative;
}

.login_button input{
  font-family: 'Work Sans', sans-serif;
  border-radius: 50px;
  height: 35px;
  width: 110px;
  background: none;
  decoration: none;
  border: none;
  font-weight: bold;
  font-size: 12px;
}

.login_button_real{
  display: flex;
  border-radius: 5px;
  height: 35px;
  width: 110px;
  background: #46c932;
  border: none;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-duration: 100ms;
  box-shadow: 0px 0px 30px 1px #babab8;
}

.login_button_real:hover{
  background: #3aaa29;
  padding-left: 10px;
}

.login_button_real input{
  outline: none;
  color: white;
}

.login_button_real input:hover{
  cursor: pointer;
}

.arrow_btn_login{
  font-weight: bold;
  position: relative;
  font-size: 12px;
  left: 0.5em;
  color: transparent;
  transition-duration: 300ms;
  width: 0px;
}

.login_arrow_hide{
  color: white;
}

.endform h3{
  position: relative;
  top: 1em;
  font-size: 11px;
}

.images{
  height: 719px;
}

.slides {
    padding: 0;
    width: 1080px;
    height: 607px;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input {
  position: relative;
  bottom: 303.5px;
}

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 1080px;
    height: 719px;
    display: block;
    position: absolute;
    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
  width: 1080px;
  height: 607px;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
